# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.mod
*.sum
# OS specific
.DS_Store
*.DS_Store
# Heimdall Local Database
metadata.db

# Heimdall Raw File Chunks
/disk_storage/

# Dummy text files created by our test scripts
*.txt

# Heimdall Write-Ahead Log
*.wal

# Heimdall Network Stream Buffers
temp_*